<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1><%= loday %></h1>
<form action="/" method="post">
<input type="text" name="one">
<input type="text" name="done">
<button>submit</button>
</form>
</body>
</html>